In [8]:
def rename_cols(df, pac='PUR'):
    cols = df.columns.values
    renamer = {col: col.split('%s_' % pac)[-1].split('_')[0] for col in cols if pac in col}
    return df.rename(columns=renamer)

In [10]:
import get_sc_data as sc
x = sc.get_df(
    ['XE1T.PUR_DPT288_PMON_A.PI', 'XE1T.PUR_PT287_PPUMP.PI'],
    '2019-10-01 19:00:00',
    '2019-10-02 19:00:00',
    time_interval=60.,
    query_type='lab'
)
x = rename_cols(x)

In [11]:
x.head()

   DPT288     PT287        time
0   320.0  1.883474  1569949200
1   320.0  1.882159  1569949260
2   320.0  1.882159  1569949320
3   320.0  1.880844  1569949380
4   320.0  1.880844  1569949440